{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

        <div class="row justify-content-center">
        <div class="col-md-6">
                {{ form_start(edit_form) }}
                                {{ form_widget(edit_form) }}
                                    <button type="submit" class="btn btn-primary waves-effect right">Valider</button>
                {{ form_end(edit_form) }} 
        </div>
        </div>
</div>
{% endblock %}
