{% extends 'base.html.twig' %}
{% block body %}


<section id="details" class="container">

<h4 class="text-center">Details du film</h4>
    <p>{{movie.name}}</p>
    <p>{{movie.description}}</p>
    {# <p>{{movie.release_date}}</p> #}
</section>

{% endblock %}
